{% extends "base.html" %}
{% block content %}


<div class='col-sm-12'>

    <div class="col-sm-6">
        <div class='col-sm-12'><h1>{{ title }}</h1></div>
        {% for user in all_users %}
        <div class="row">
            {% if not user in friends %}
            <div class="col-sm-12">
                <div class="thumbnail">
                    <div class="caption post-detail-item">
                        <h3>{{ user.username }} <small></small></h3>
                        <p><a href="{% url 'accounts:change_friends' operation='add' pk=user.pk %}" class="btn btn-primary" role="button">Follow</a></p>
                    </div>
                </div>
            </div>
            {% endif %}
            <hr/>
        </div>
        {% endfor %}
    </div>

    <div class="col-sm-6">
        <div class='col-sm-12'><h1>Following</h1></div>
        {% for friend in friends %}
        <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
            <div class="caption post-detail-item">
                <h3>{{ friend.username }}<small></small></h3>
                <p><a href="{% url 'accounts:change_friends' operation='remove' pk=friend.pk %}" class="btn btn-primary" role="button">Unfollow</a></p>
            </div>
            </div>
        </div>
        <hr/>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}