{% extends "base.html" %}
{% block content %}


<div class='col-sm-6 col-sm-offset-3'>
        <div class='col-sm-12'>
            <div class='col-sm-4'><h1>{{ title }}</h1></div>
        </div>
{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
         <img src='{{ obj.image.url }}' class='img-responsive' />

      <div class="caption post-detail-item">
        {% if obj.draft %}<h3>Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
        <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.publish }}</small></h3>
        {% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}
        {{ obj.get_markdown|truncatechars_html:120 }}
        <br><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a>
      </div>
    </div>
  </div>
  <hr/>
</div>
{% endfor %}

</div>

{% endblock content %}